/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL TEXT */
body {
    font-family: 'Edu Tas Beginner', sans-serif;
}

/* OVERLAY */
.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 999;
}

/* BACKGROUND */
.wall {
    background-image: url('./img/wall.png');
}


.cork {
    background-image: url('./img/cork.png');
}

/* CARD */
.card-text {
    font-family: 'Sometype Mono', monospace;
}

.card {
    position: relative;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

/* PIN */
.pin {
    position: absolute;
    top: -10px;
    left: 45%;
}

